.target{
    position: absolute !important;
}
#object0-target0{
    z-index: 4;
    width: 4.5%;
    height: 2.5%;
    bottom: 26%;
    left: 48.7%;
}
#object1-target0{
    z-index: 4;
    width: 3%;
    height: 2.5%;
    bottom: 33%;
    left: 39%;
}
#object2-target0{
    z-index: 4;
    width: 4%;
    height: 5.8%;
    bottom: 22%;
    left: 36.5%;
}

#object3-target0{
    z-index: 4;
    width: 3%;
    height: 6%;
    bottom: 36%;
    left: 25%;
}
#object4-target0{
    z-index: 4;
    width: 5%;
    height: 5%;
    bottom: 13%;
    left: 47.5%;
}
#object5-target0{
    z-index: 4;
    width: 1.5%;
    height: 3.3%;
    bottom: 10.5%;
    left: 26%;
}
#object6-target0{
    z-index: 4;
    width: 4%;
    height: 5.9%;
    bottom: 9%;
    left: 30.1%;
}
#object7-target0{
    z-index: 4;
    width: 3.5%;
    height: 3%;
    bottom: 24%;
    left: 42.6%;
}
